.quick-actions{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

    margin:50px 0;

}

.quick-action-btn{

    height:90px;

    border:none;

    border-radius:20px;

    cursor:pointer;

    background:white;

    font-size:18px;

    font-weight:600;

    transition:.35s;

    color:var(--primary-color);

}

.quick-action-btn:hover{

    transform:translateY(-8px);

    background:var(--primary-color);

    color:white;

}