h1{

    font-size:40px;

    font-weight:700;

    line-height:1.2;

}

h2{

    font-size:32px;

    font-weight:700;

}

h3{

    font-size:24px;

    font-weight:600;

}

h4{

    font-size:20px;

    font-weight:600;

}

p{

    line-height:1.7;

    color:var(--color-text-light);

}

.text-center{

    text-align:center;

}

.text-muted{

    color:var(--color-text-light);

}