.romantic-layout{

    width:100%;

    padding:40px;

}

.romantic-grid{

    display:grid;

    gap:25px;

    margin-top:35px;

    grid-template-columns:
        repeat(auto-fit,minmax(330px,1fr));

}