.ss-create-memory{

max-width:900px;

margin:auto;

display:flex;

flex-direction:column;

gap:var(--space-8);

}

.ss-create-memory__header{

display:flex;

flex-direction:column;

gap:var(--space-5);

}

.ss-create-memory__header h1{

margin:0;

font-size:2rem;

}

.ss-create-memory__header p{

margin-top:8px;

color:var(--color-text-light);

}