:root {

  --primary-color: #ff4d88;
  --secondary-color: #ffd6e8;

  --background-color: #fff5f8;

  --card-color: #ffffff;

  --button-color: #ff4d88;

  --page-gradient: linear-gradient(
    135deg,
    #ff4d88,
    #ff80ab,
    #ffd6e8
  );

}